/* @media screen and (max-device-width: 480px) {
  #principal {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 600px) {
  #principal {
    flex-flow: column wrap;
  }
}

@media screen and (min-width: 900px) {
  #principal {
    flex-flow: column wrap;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
}

@media only screen and (min-width: 1200px) {
} */
